/* CLAIM PAGE */
div#claim-history {
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    height: 200px;
}

div#claim-history table {
    width: 100%;
    font-size: 1rem;
}

div#claim-history table th {
    padding: 3px 8px;
    vertical-align: top;
    line-height: 1.428571429;
    background-color: #555;
    color: #fff;
}

div#claim-history table td {
    padding: 4px 8px;
    border-bottom: 1px dashed #e5e5e5;
}

div#claim-history tbody tr:hover {
    background-color: #e5e5e5;
    cursor: pointer;
}

#otherPatient {
    display: none;
}

#otherAddress {
    display: none;
}

.ehr-claim-line-entry {
    background-color: rgba(244, 209, 66, 0.35);
}

label.lineamt-lbl {
    position: absolute;
    background: white;
    left: 0px;
    top: 0px;
    cursor: pointer;
    margin-top: 6.5px;
    margin-left: 8px;
    text-align: right;
}

label.curr-lbl {
    position: absolute;
    background: white;
    left: 0px;
    top: 0px;
    cursor: pointer;
    margin-top: 0px;
    margin-left: 13.5px;
    text-align: right;
}

input.lineamt, input.curr {
    position: relative;
    width: 65px;
}

input.lineamt, label.lineamt-lbl, input.curr, label.curr-lbl {
    padding: 0;
    border: 1px dashed #e5e5e5;
    width: 65px;
    font-family: Arial;
    line-height: 20px;
}

input.lineamt:focus + label.lineamt-lbl, input.curr:focus + label.curr-lbl {
    display: none;
}

/* Chrome, Safari, Edge, Opera */
input.lineamt::-webkit-outer-spin-button,
input.lineamt::-webkit-inner-spin-button,
input.curr::-webkit-outer-spin-button,
input.curr::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

/* Firefox */
input.lineamt[type=number], input.curr[type=number] {
    -moz-appearance: textfield;
}